{% extends 'base.html' %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header text-center bg-info text-white">
                <h4><i class="fas fa-lock"></i> Set New Password</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="new_password1" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="new_password1" name="new_password1" required>
                    </div>
                    <div class="mb-3">
                        <label for="new_password2" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                    </div>
                    <button type="submit" class="btn btn-info w-100">Set Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
